In [1]:
import pandas as pd

In [2]:
# Como criar um indice

serie = pd.Series(['Brasil','França','Austrália'],
                 index = ['América do Sul','Europa','Oceania'])

print(serie.index)
serie.index[1]

Index(['América do Sul', 'Europa', 'Oceania'], dtype='object')

'Europa'

In [4]:
# Como colocar uma coluna como indice

dicionario = {'empresa': ['Weg','Petrobras','Vale'], 'cotacao': [20.54, 20, 40]}

dataframe = pd.DataFrame(dicionario)

print(dataframe)

dataframe = dataframe.set_index('empresa')

print(dataframe)
dataframe.loc['Weg']

     empresa  cotacao
0        Weg    20.54
1  Petrobras    20.00
2       Vale    40.00
           cotacao
empresa
Weg          20.54
Petrobras    20.00
Vale         40.00

cotacao    20.54
Name: Weg, dtype: float64

In [6]:
# Como criar um novo index, do zero ou de forma aleatória

dataframe = dataframe.reset_index()

print(dataframe)

dataframe.index = ['a','b','c']

print(dataframe)

     empresa  cotacao
0        Weg    20.54
1  Petrobras    20.00
2       Vale    40.00
     empresa  cotacao
a        Weg    20.54
b  Petrobras    20.00
c       Vale    40.00

In [8]:
# Como criar uma range de data como um índice

quatro_dias = pd.date_range('1/4/2000', periods = 4)

print(quatro_dias)

fim_mes = pd.date_range(start = '1/1/2000', end = '31/12/2000', freq = 'M')

fim_mes

DatetimeIndex(['2000-01-04', '2000-01-05', '2000-01-06', '2000-01-07'], dtype='datetime64[ns]', freq='D')

C:\Users\Pichau\AppData\Local\Temp\ipykernel_18208\2775252228.py:7: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  fim_mes = pd.date_range(start = '1/1/2000', end = '31/12/2000', freq = 'M')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-30', '2000-10-31', '2000-11-30', '2000-12-31'],
              dtype='datetime64[ns]', freq='M')

In [9]:
fim_mes_weg = pd.date_range(start = '1/1/2000', end = '30/4/2000', freq = 'M')

print(fim_mes_weg)

dicionario = {'cotacao': [20.54, 20, 21, 22]}

cotacao_weg = pd.DataFrame(dicionario, index = fim_mes_weg)

print(cotacao_weg)

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30'], dtype='datetime64[ns]', freq='M')
            cotacao
2000-01-31    20.54
2000-02-29    20.00
2000-03-31    21.00
2000-04-30    22.00

C:\Users\Pichau\AppData\Local\Temp\ipykernel_18208\1200947578.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  fim_mes_weg = pd.date_range(start = '1/1/2000', end = '30/4/2000', freq = 'M')

In [11]:
cotacao_weg[cotacao_weg.index > '2000-02-25']

            cotacao
2000-02-29     20.0
2000-03-31     21.0
2000-04-30     22.0

# Exercícios

- Exercício 37: Crie um dataframe que as colunas tenham informações fictícas de cotações, volumes, data de cada dado. Utilize pd.date_range para criar a coluna de datas.

- Exercício 38: Converta a coluna 'datas' para índice.

- Exercício 39: Converta a coluna 'tickers' do dataframe do exercício 36 como índice.

In [26]:
# Exercício 37

dados = {
    'data': pd.date_range(start = '01/01/2023', end = '31/03/2023', freq = 'M'),
    'tickers': ['WEGE3','AMER3','PETR3'],
    'cotacao': [20.04, 12.08, 30.02],
    'volume': [17000, 10000, 20000]   
}

df = pd.DataFrame(dados)
df

C:\Users\Pichau\AppData\Local\Temp\ipykernel_18208\1597096478.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  'data': pd.date_range(start = '01/01/2023', end = '31/03/2023', freq = 'M'),

        data tickers  cotacao  volume
0 2023-01-31   WEGE3    20.04   17000
1 2023-02-28   AMER3    12.08   10000
2 2023-03-31   PETR3    30.02   20000

In [27]:
# Exercício 38

df1 = df.set_index('data')
df1

           tickers  cotacao  volume
data
2023-01-31   WEGE3    20.04   17000
2023-02-28   AMER3    12.08   10000
2023-03-31   PETR3    30.02   20000

In [28]:
# Exercício 39

dados_cotacoes = {
    'tickers': ["WEGE3", "PETR3", "VALE3", "PETR4","LREN3"],
    'cotacoes': [20, 30, 40, 12, 35],
    'nomes': ["Weg", "Petrobras", "Vale", "Petrobras", "Lojas Renner"],
    'preco_sobre_lucro': [25,6,12,7,25],
    'volume': [5000, 1000, 4000,7000,1200]
}

df = pd.DataFrame(dados_cotacoes, index = [0,1,2,3,4],
                 columns = ['nomes','tickers','cotacoes','preco_sobre_lucro','volume'])

df = df.set_index('tickers')
df

                nomes  cotacoes  preco_sobre_lucro  volume
tickers
WEGE3             Weg        20                 25    5000
PETR3       Petrobras        30                  6    1000
VALE3            Vale        40                 12    4000
PETR4       Petrobras        12                  7    7000
LREN3    Lojas Renner        35                 25    1200