In [3]:
import pandas as pd
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()

In [5]:
df = pdr.get_data_yahoo(['ABEV3.SA','MGLU3.SA','WEGE3.SA','VALE3.SA'], start = '2017-10-02')['Adj Close']
df

[*********************100%***********************]  4 of 4 completed

             ABEV3.SA  MGLU3.SA   VALE3.SA   WEGE3.SA
Date
2017-10-02  17.058563  2.334204  22.000368   7.606670
2017-10-03  17.651907  2.367473  22.538309   7.903502
2017-10-04  17.470610  2.382759  22.490032   7.939262
2017-10-05  17.495329  2.349790  22.255545   7.971446
2017-10-06  17.363476  2.388753  22.165886   7.935687
...               ...       ...        ...        ...
2023-01-09  14.400000  2.830000  92.440002  37.919998
2023-01-10  14.540000  3.050000  93.580002  37.549999
2023-01-11  14.290000  3.030000  93.250000  38.599998
2023-01-12  14.100000  3.190000  93.739998  38.509998
2023-01-13  13.880000  3.430000  93.820000  38.970001

[1314 rows x 4 columns]

In [7]:
media_retornos_diarios = df.pct_change().dropna().mean()

media_retornos_diarios

ABEV3.SA    0.000028
MGLU3.SA    0.001056
VALE3.SA    0.001431
WEGE3.SA    0.001532
dtype: float64

In [14]:
# Usando map para transformar dados

dados_anuais = media_retornos_diarios.map(lambda x: (1 + x) ** 252 -1)
dados_anuais

ABEV3.SA    0.006981
MGLU3.SA    0.304778
VALE3.SA    0.433997
WEGE3.SA    0.470620
dtype: float64

In [15]:
dados_anuais = dados_anuais.to_frame()
dados_anuais

                 0
ABEV3.SA  0.006981
MGLU3.SA  0.304778
VALE3.SA  0.433997
WEGE3.SA  0.470620

In [13]:
dados_anuais = dados_anuais.reset_index()

dados_anuais.columns = ['nome_empresas', 'r']