In [2]:
import pandas as pd
import numpy as np

In [3]:
def gerador_serie_historica(valor_inicial, volatilidade, periodos, dia_inicial, frequencia = 'M'):
    
    vetor = [valor_inicial]
    
    for i in range(periodos - 1):
        
        preco = vetor[i] * ( 1 + np.random.normal(0, volatilidade))
        
        vetor.append(preco)
        
    serie = pd.Series(vetor, index = pd.date_range(dia_inicial, periods = periodos, freq = frequencia))
    
    return serie

In [4]:
serie_euro = gerador_serie_historica(5, 0.01, 5, '2022-01-01')
serie_cotacoes = gerador_serie_historica(20, 0.05, 5,'2022-02-01')
serie_cotacoes

2022-02-28    20.000000
2022-03-31    19.422372
2022-04-30    21.227374
2022-05-31    21.470714
2022-06-30    22.805709
Freq: M, dtype: float64

In [5]:
# As operações são feitas através dos indices!

serie_cotacoes_em_euro = serie_cotacoes / serie_euro
serie_cotacoes_em_euro

2022-01-31         NaN
2022-02-28    3.976883
2022-03-31    3.851423
2022-04-30    4.243845
2022-05-31    4.223314
2022-06-30         NaN
Freq: M, dtype: float64

In [6]:
serie_lucro = gerador_serie_historica(2, 0.5, 5, '2022-01-01')
serie_cotacoes = gerador_serie_historica(20, 0.05, 5, '2022-01-01')

df = pd.DataFrame({
    'cotacao': serie_cotacoes,
    'lucro_por_acao': serie_lucro
})

df

              cotacao  lucro_por_acao
2022-01-31  20.000000        2.000000
2022-02-28  18.835926        2.360182
2022-03-31  19.119704        1.815307
2022-04-30  20.837849        0.947026
2022-05-31  22.365653        0.430016

In [7]:
# Criando coluna P/L

df['P/L'] = df['cotacao']/df['lucro_por_acao']

df

              cotacao  lucro_por_acao        P/L
2022-01-31  20.000000        2.000000  10.000000
2022-02-28  18.835926        2.360182   7.980708
2022-03-31  19.119704        1.815307  10.532493
2022-04-30  20.837849        0.947026  22.003458
2022-05-31  22.365653        0.430016  52.011205

In [8]:
# pode fazer qualquer operação

print(df['cotacao'] + df['lucro_por_acao'])

print(df['cotacao'] - df['lucro_por_acao'])

print(df['cotacao'] ** df['lucro_por_acao'])

2022-01-31    22.000000
2022-02-28    21.196108
2022-03-31    20.935010
2022-04-30    21.784875
2022-05-31    22.795669
Freq: M, dtype: float64
2022-01-31    18.000000
2022-02-28    16.475743
2022-03-31    17.304397
2022-04-30    19.890823
2022-05-31    21.935637
Freq: M, dtype: float64
2022-01-31     400.000000
2022-02-28    1021.413688
2022-03-31     211.973264
2022-04-30      17.741410
2022-05-31       3.804887
Freq: M, dtype: float64

In [9]:
# Operações dentro de uma mesma coluna

#somar dados de uma coluna

serie_lucro_trimestral = gerador_serie_historica(20000,2,4,'2022-01-01', frequencia = 'Q')

print(serie_lucro_trimestral)

lucro_anual = serie_lucro_trimestral.sum()

lucro_anual

2022-03-31     20000.000000
2022-06-30    -39299.289321
2022-09-30     85059.670725
2022-12-31    149860.603914
Freq: Q-DEC, dtype: float64

215620.98531845215

In [10]:
# Acumular dados de uma coluna

serie_lucro_trimestral = gerador_serie_historica(20000, 2, 4, '2022-01-01', frequencia='Q')

print(serie_lucro_trimestral)

crescimento_lucros = serie_lucro_trimestral.cumsum()

crescimento_lucros

2022-03-31    20000.000000
2022-06-30     7720.279196
2022-09-30   -14277.531556
2022-12-31    13766.199338
Freq: Q-DEC, dtype: float64

2022-03-31    20000.000000
2022-06-30    27720.279196
2022-09-30    13442.747640
2022-12-31    27208.946978
Freq: Q-DEC, dtype: float64

In [11]:
#maior e menor dado de lucro no trimestre

serie_lucro_trimestral = gerador_serie_historica(20000, 2, 4, '2022-01-01', frequencia='Q')

lucro_max = serie_lucro_trimestral.max()

lucro_min = serie_lucro_trimestral.min()

lucro_max

73768.89812116273

# Exercícios

No dataframe base trabalhado nas aulas anteriores:

- Exercício 50: Crie uma nova coluna chamada 'lucro_por_acao' e calcule o lucro por ação baseado nas informações de PL e preço. Obs: LPA = P/PL
- Exercício 51: Assuma a cotação do dólar como 5.25 e crie a coluna de cotações dolarizadas na tabela.
- Exercício 52: Encontre qual o volume total negociado por todas as ações.
- Exercício 53: Selecione as ações com maior e menor Lucro por ação do dataframe.

In [16]:
#df_base
dados_cotacoes = {
    'tickers': ["WEGE3", "PETR3", "VALE3", "PETR4","LREN3"],
    'cotacoes': [20, 30, 40, 12, 35],
    'nomes': ["Weg", "Petrobras", "Vale", "Petrobras", "Lojas Renner"],
    'preco_sobre_lucro': [25,6,12,7,25],
    'volume': [5000, 1000, 4000,7000,1200]
}

df = pd.DataFrame(dados_cotacoes, index = [0,1,2,3,4],
                 columns = ['nomes','tickers','cotacoes','preco_sobre_lucro','volume'])

df = df.set_index('tickers')
df.columns = ['nomes', 'precos', 'preco_sobre_lucro', 'volume']
df

                nomes  precos  preco_sobre_lucro  volume
tickers
WEGE3             Weg      20                 25    5000
PETR3       Petrobras      30                  6    1000
VALE3            Vale      40                 12    4000
PETR4       Petrobras      12                  7    7000
LREN3    Lojas Renner      35                 25    1200

In [17]:
# Exercício 50

df['lucro_por_acao'] = df['precos']/df['preco_sobre_lucro']
df

                nomes  precos  preco_sobre_lucro  volume  lucro_por_acao
tickers
WEGE3             Weg      20                 25    5000        0.800000
PETR3       Petrobras      30                  6    1000        5.000000
VALE3            Vale      40                 12    4000        3.333333
PETR4       Petrobras      12                  7    7000        1.714286
LREN3    Lojas Renner      35                 25    1200        1.400000

In [18]:
# Exercício 51
cotacao_dolar = 5.25
df['cotacao_dolarizada'] = df['precos'] / cotacao_dolar
df

,nomes,precos,preco_sobre_lucro,volume,lucro_por_acao,cotacao_dolarizada
tickers,,,,,,
WEGE3,Weg,20,25,5000,0.800000,3.809524
PETR3,Petrobras,30,6,1000,5.000000,5.714286
VALE3,Vale,40,12,4000,3.333333,7.619048
PETR4,Petrobras,12,7,7000,1.714286,2.285714
LREN3,Lojas Renner,35,25,1200,1.400000,6.666667

In [20]:
# Exercício 52
volume_total = df['volume'].sum()
volume_total

18200

In [ ]:
# Exercício 53
maior_cotacao = df['lucro_por_acao'].max()
acao_maior_lucro_por

In [43]:
# Exercício 53
empresa_maior_lucro_por_acao = df[df['lucro_por_acao'] == df['lucro_por_acao'].max()]
display(empresa_maior_lucro_por_acao)

empresa_menor_lucro_por_acao = df[df['lucro_por_acao'] == df['lucro_por_acao'].min() ]
display(empresa_menor_lucro_por_acao)

,nomes,precos,preco_sobre_lucro,volume,lucro_por_acao,cotacao_dolarizada
tickers,,,,,,
PETR3,Petrobras,30,6,1000,5.0,5.714286

,nomes,precos,preco_sobre_lucro,volume,lucro_por_acao,cotacao_dolarizada
tickers,,,,,,
WEGE3,Weg,20,25,5000,0.8,3.809524