In [2]:
import pandas as pd
import numpy as np

In [7]:
def gerador_serie_historica(valor_inicial, volatilidade, periodos, dia_inicial, frequencia = 'M'):
    
    vetor = [valor_inicial]
    
    for i in range(periodos - 1):
        
        preco = vetor[i] * ( 1 + np.random.normal(0, volatilidade))
        
        vetor.append(preco)
        
    serie = pd.Series(vetor, index = pd.date_range(dia_inicial, periods = periodos, freq = frequencia))
    
    return serie

In [8]:
serie_euro = gerador_serie_historica(5, 0.01, 5, '2022-01-01')
serie_cotacoes = gerador_serie_historica(20, 0.05, 5,'2022-02-01')
serie_cotacoes

2022-02-28    20.000000
2022-03-31    22.753194
2022-04-30    22.274946
2022-05-31    24.844408
2022-06-30    24.960581
Freq: M, dtype: float64

In [9]:
# As operações são feitas através dos indices!

serie_cotacoes_em_euro = serie_cotacoes / serie_euro
serie_cotacoes_em_euro

2022-01-31         NaN
2022-02-28    3.993336
2022-03-31    4.589386
2022-04-30    4.536252
2022-05-31    5.035568
2022-06-30         NaN
Freq: M, dtype: float64

In [11]:
serie_lucro = gerador_serie_historica(2, 0.5, 5, '2022-01-01')
serie_cotacoes = gerador_serie_historica(20, 0.05, 5, '2022-01-01')

df = pd.DataFrame({
    'cotacao': serie_cotacoes,
    'lucro_por_acao': serie_lucro
})

df

              cotacao  lucro_por_acao
2022-01-31  20.000000        2.000000
2022-02-28  19.251850        1.461216
2022-03-31  19.556118        2.223144
2022-04-30  18.619748        2.185554
2022-05-31  19.471419        2.015592

In [12]:
# Criando coluna P/L

df['P/L'] = df['cotacao']/df['lucro_por_acao']

df

              cotacao  lucro_por_acao        P/L
2022-01-31  20.000000        2.000000  10.000000
2022-02-28  19.251850        1.461216  13.175229
2022-03-31  19.556118        2.223144   8.796604
2022-04-30  18.619748        2.185554   8.519465
2022-05-31  19.471419        2.015592   9.660396

In [14]:
# pode fazer qualquer operação

print(df['cotacao'] + df['lucro_por_acao'])

print(df['cotacao'] - df['lucro_por_acao'])

print(df['cotacao'] ** df['lucro_por_acao'])

2022-01-31    22.000000
2022-02-28    20.713065
2022-03-31    21.779262
2022-04-30    20.805302
2022-05-31    21.487011
Freq: M, dtype: float64
2022-01-31    18.000000
2022-02-28    17.790634
2022-03-31    17.332974
2022-04-30    16.434194
2022-05-31    17.455827
Freq: M, dtype: float64
2022-01-31    400.000000
2022-02-28     75.316672
2022-03-31    742.518668
2022-04-30    596.480108
2022-05-31    397.099782
Freq: M, dtype: float64

In [17]:
# Operações dentro de uma mesma coluna

#somar dados de uma coluna

serie_lucro_trimestral = gerador_serie_historica(20000,2,4,'2022-01-01', frequencia = 'Q')

print(serie_lucro_trimestral)

lucro_anual = serie_lucro_trimestral.sum()

lucro_anual

2022-03-31     20000.000000
2022-06-30    -25618.958814
2022-09-30     88473.626537
2022-12-31   -124323.005120
Freq: Q-DEC, dtype: float64

-41468.3373962098

In [19]:
# Acumular dados de uma coluna

serie_lucro_trimestral = gerador_serie_historica(20000, 2, 4, '2022-01-01', frequencia='Q')

print(serie_lucro_trimestral)

crescimento_lucros = serie_lucro_trimestral.cumsum()

crescimento_lucros

2022-03-31     20000.000000
2022-06-30     36897.357694
2022-09-30    -57348.064552
2022-12-31   -278979.577105
Freq: Q-DEC, dtype: float64

2022-03-31     20000.000000
2022-06-30     56897.357694
2022-09-30      -450.706858
2022-12-31   -279430.283963
Freq: Q-DEC, dtype: float64

In [20]:
#maior e menor dado de lucro no trimestre

serie_lucro_trimestral = gerador_serie_historica(20000, 2, 4, '2022-01-01', frequencia='Q')

lucro_max = serie_lucro_trimestral.max()

lucro_min = serie_lucro_trimestral.min()

lucro_max

67578.55179098221

# Exercícios

No dataframe base trabalhado nas aulas anteriores:

- Exercício 50: Crie uma nova coluna chamada 'lucro_por_acao' e calcule o lucro por ação baseado nas informações de PL e preço. Obs: LPA = P/PL
- Exercício 51: Assuma a cotação do dólar como 5.25 e crie a coluna de cotações dolarizadas na tabela.
- Exercício 52: Encontre qual o volume total negociado por todas as ações.