In [2]:
import pandas as pd
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()

In [3]:
df = pdr.get_data_yahoo('WEGE3.SA')['Adj Close']
df

[*********************100%***********************]  1 of 1 completed

Date
2000-01-03     0.123840
2000-01-04     0.119495
2000-01-05     0.119495
2000-01-06     0.108631
2000-01-07     0.108631
                ...
2023-01-16    37.689999
2023-01-17    38.310001
2023-01-18    37.990002
2023-01-19    37.910000
2023-01-20    37.520000
Name: Adj Close, Length: 5793, dtype: float64

In [4]:
df_mensal = df.resample('M').last()
df_mensal

Date
2000-01-31     0.119495
2000-02-29     0.108631
2000-03-31     0.108631
2000-04-30     0.108631
2000-05-31     0.103200
                ...
2022-09-30    32.093353
2022-10-31    40.221539
2022-11-30    38.943398
2022-12-31    38.509998
2023-01-31    37.520000
Freq: M, Name: Adj Close, Length: 277, dtype: float64

In [5]:
df_anual = df.resample('Y').last()
df_anual

Date
2000-12-31     0.128186
2001-12-31     0.211832
2002-12-31     0.256371
2003-12-31     0.543159
2004-12-31     0.831034
2005-12-31     0.814740
2006-12-31     1.412216
2007-12-31     2.737527
2008-12-31     1.386047
2009-12-31     2.095739
2010-12-31     2.530779
2011-12-31     2.245814
2012-12-31     3.309526
2013-12-31     3.917138
2014-12-31     5.110186
2015-12-31     5.127314
2016-12-31     5.452233
2017-12-31     8.643222
2018-12-31     8.320035
2019-12-31    16.698481
2020-12-31    36.783794
2021-12-31    32.402042
2022-12-31    38.509998
2023-12-31    37.520000
Freq: A-DEC, Name: Adj Close, dtype: float64

In [9]:
df_anual.pct_change()*100

Date
2000-12-31           NaN
2001-12-31     65.254107
2002-12-31     21.025736
2003-12-31    111.864203
2004-12-31     53.000137
2005-12-31     -1.960746
2006-12-31     73.333327
2007-12-31     93.846179
2008-12-31    -49.368635
2009-12-31     51.202588
2010-12-31     20.758309
2011-12-31    -11.259973
2012-12-31     47.364222
2013-12-31     18.359467
2014-12-31     30.457142
2015-12-31      0.335164
2016-12-31      6.337027
2017-12-31     58.526279
2018-12-31     -3.739194
2019-12-31    100.702048
2020-12-31    120.282284
2021-12-31    -11.912181
2022-12-31     18.850528
2023-12-31     -2.570755
Freq: A-DEC, Name: Adj Close, dtype: float64

In [10]:
df_semanal = df.resample('w').last()
df_semanal

Date
2000-01-09     0.108631
2000-01-16     0.119495
2000-01-23     0.114063
2000-01-30     0.121668
2000-02-06     0.121668
                ...
2022-12-25    38.500000
2023-01-01    38.509998
2023-01-08    38.029999
2023-01-15    38.970001
2023-01-22    37.520000
Freq: W-SUN, Name: Adj Close, Length: 1203, dtype: float64

# Exercícios
- Exercício 78: Puxe os dados de cotação ajustada da VALE3.SA e:

    - Transforme em cotações mensais
    - Transforme em cotações semanais
    - Transforme em cotações anuais
    - Transforme em cotações de 30 minutos.

In [17]:
df = pdr.get_data_yahoo('VALE3.SA')['Adj Close']
df_mensal = df.resample('M').last()
display(df_mensal)

df_semanal = df.resample('W').last()
display(df_semanal)

df_anual = df.resample('Y').last()
display(df_anual)

df_30min = df.resample("30min").last()
display(df_30min)

[*********************100%***********************]  1 of 1 completed

Date
2000-01-31     1.944803
2000-02-29     1.653083
2000-03-31     1.620669
2000-04-30     1.620669
2000-05-31     1.694410
                ...
2022-09-30    71.795647
2022-10-31    66.902298
2022-11-30    85.419281
2022-12-31    88.879997
2023-01-31    94.300003
Freq: M, Name: Adj Close, Length: 277, dtype: float64

Date
2000-01-09     1.721961
2000-01-16     1.985320
2000-01-23     1.904286
2000-01-30     1.944803
2000-02-06     1.892131
                ...
2022-12-25    86.320000
2023-01-01    88.879997
2023-01-08    92.339996
2023-01-15    93.820000
2023-01-22    94.300003
Freq: W-SUN, Name: Adj Close, Length: 1203, dtype: float64

Date
2000-12-31     1.884028
2001-12-31     2.106869
2002-12-31     4.169171
2003-12-31     6.867585
2004-12-31     9.177040
2005-12-31    11.608047
2006-12-31    15.485496
2007-12-31    28.836567
2008-12-31    13.635164
2009-12-31    25.085958
2010-12-31    28.397816
2011-12-31    21.358028
2012-12-31    24.220341
2013-12-31    21.073450
2014-12-31    13.793667
2015-12-31     8.645445
2016-12-31    17.138868
2017-12-31    28.062572
2018-12-31    36.988838
2019-12-31    39.681309
2020-12-31    67.827217
2021-12-31    71.132271
2022-12-31    88.879997
2023-12-31    94.300003
Freq: A-DEC, Name: Adj Close, dtype: float64

Date
2000-01-03 00:00:00     1.701703
2000-01-03 00:30:00          NaN
2000-01-03 01:00:00          NaN
2000-01-03 01:30:00          NaN
2000-01-03 02:00:00          NaN
                         ...
2023-01-19 22:00:00          NaN
2023-01-19 22:30:00          NaN
2023-01-19 23:00:00          NaN
2023-01-19 23:30:00          NaN
2023-01-20 00:00:00    94.300003
Freq: 30T, Name: Adj Close, Length: 404065, dtype: float64