In [1]:
import pandas as pd
import numpy as np

# Séries

In [2]:
# Argumentos: Listas/Vetores

serie_inicial = pd.Series(np.random.randn(5))

print(serie_inicial)

serie_inicial = pd.Series(np.random.randn(5), index = ['A','B','C','D','E'])
serie_lista = pd.Series(['Python','SQL','VBA'])

print(serie_inicial)
print(serie_lista)

0   -2.086804
1    1.138594
2    1.146111
3   -0.148534
4   -0.419378
dtype: float64
A    0.220651
B    1.051380
C    1.148362
D    2.810520
E   -0.927868
dtype: float64
0    Python
1       SQL
2       VBA
dtype: object

In [4]:
# A partir de dicionários, criando séries temporais

dicionario_cotacoes = {'WEGE3': 20.20, 'PETR4': 19.28, 'VALE3': 65.90, 'PETZ3': 17.03}

serie_cotacoes = pd.Series(dicionario_cotacoes)

print(serie_cotacoes)
print(serie_cotacoes['WEGE3'])
print(serie_cotacoes[0])

WEGE3    20.20
PETR4    19.28
VALE3    65.90
PETZ3    17.03
dtype: float64
20.2
20.2

# DataFrames

In [7]:
# A partir de outras séries ou diciíonarios

dicionario_dados = {
    "empresas": pd.Series(['Weg','Vale','Petrobras'], index = ['2019','2020','2021']),
    "price": pd.Series([20,30,40], index = ['2019','2020','2021']),
    "volume": pd.Series([1000, 4000, 7500], index = ['2019','2020','2021'])
}

dados_diarios = pd.DataFrame(dicionario_dados)

dados_diarios

       empresas  price  volume
2019        Weg     20    1000
2020       Vale     30    4000
2021  Petrobras     40    7500

In [9]:
dicionario_dados = {
    "empresas": ['Weg','Vale','Petrobras'],
    "price": [20,30,40],
    "volume": [1000,4000,7500]   
}

dados_diarios_from_dict = pd.DataFrame(dicionario_dados, index = ['2019','2020','2021'])

dados_diarios_from_dict

       empresas  price  volume
2019        Weg     20    1000
2020       Vale     30    4000
2021  Petrobras     40    7500

In [10]:
# Escolhendo colunas

dicionario_dados = {
    "empresas": ['Weg','Vale','Petrobras'],
    "price": [20,30,40],
    "volume": [1000,4000,7500]   
}

dados_diarios_from_dict = pd.DataFrame(dicionario_dados, index = ['2019','2020','2021'],
                                      columns = ['volume','price','empresas'])

dados_diarios_from_dict

      volume  price   empresas
2019    1000     20        Weg
2020    4000     30       Vale
2021    7500     40  Petrobras

In [13]:
# Cuidado

dado = {'cotacao': 20, 'dia': '2019-12-21'}

dataframe = pd.DataFrame(dado, index = [0]) #é obrigatório passar um index

dataframe

   cotacao         dia
0       20  2019-12-21

# Exercícios

- Exercício 34: Crie uma série de números.
- Exercício 35: Crie uma série de cotação randomica (random walk) para os próximos 30 dias de uma ação, partindo do preço inicial definido pelo usuário. Pressuponha que a média de retornos da ação é zero e seu desvio padrão diário (volatilidade) é de 1%.
- Exercício 36: Crie um DataFrame com as seguintes informações:
    - tickers: "WEGE3", "PETR3", "VALE3", "PETR4" e "LREN3"
    - cotacoes: 20, 30, 40, 12, 35
    - nome: "Weg", "Petrobras", "Vale", "Petrobras" e "Lojas Renner"
    - preco_sobre_lucro: 25,6,12,7,25
    - volume: 5000, 1000, 4000,7000,1200

In [16]:
# Exercício 34:

numeros = [10, 20, 30, 40, 50]
serie = pd.Series(numeros)
print(serie)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [20]:
# Exercício 35:

preco_inicial = float(input("Qual a cotação inicial da ação? "))

lista_precos = [preco_inicial]
periodo_dias = 30
lista_dias = [0]
volatilidade = 0.01

for i in range (1, periodo_dias):
    
    preco_seguinte = lista_precos[-1] * (1 + np.random.normal(0, volatilidade))
    
    lista_precos.append(preco_seguinte)
    lista_dias.append(i)

serie_final = pd.Series(lista_precos, index = lista_dias)

serie_final

Qual a cotação inicial da ação? 20

0     20.000000
1     19.865639
2     19.905864
3     19.809937
4     19.497999
5     19.416495
6     19.150713
7     19.207643
8     19.189694
9     19.174463
10    19.336487
11    19.427056
12    19.332207
13    19.324381
14    19.092329
15    18.923884
16    18.624917
17    18.657934
18    19.052773
19    18.907145
20    18.796944
21    19.034502
22    19.011425
23    18.860906
24    18.726234
25    19.070734
26    18.955110
27    18.734060
28    18.856965
29    18.870512
dtype: float64

In [24]:
# Exercício 36:

dados_cotacoes = {
    'tickers': ["WEGE3", "PETR3", "VALE3", "PETR4","LREN3"],
    'cotacoes': [20, 30, 40, 12, 35],
    'nomes': ["Weg", "Petrobras", "Vale", "Petrobras", "Lojas Renner"],
    'preco_sobre_lucro': [25,6,12,7,25],
    'volume': [5000, 1000, 4000,7000,1200]
}

df = pd.DataFrame(dados_cotacoes, index = [0,1,2,3,4],
                 columns = ['nomes','tickers','cotacoes','preco_sobre_lucro','volume'])
df

          nomes tickers  cotacoes  preco_sobre_lucro  volume
0           Weg   WEGE3        20                 25    5000
1     Petrobras   PETR3        30                  6    1000
2          Vale   VALE3        40                 12    4000
3     Petrobras   PETR4        12                  7    7000
4  Lojas Renner   LREN3        35                 25    1200