In [2]:
import pandas as pd
import os

In [3]:
diretorio_atual = os.getcwd()
print(diretorio_atual)

C:\Users\Pichau\Pandas_VAROS

In [5]:
dados_petrobras = pd.read_excel("dados\Mundo8dados_petro.xlsx")
dados_petrobras

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Curso:,codigo.py,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aula,Mundo 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
86,2022-05-20 00:00:00,25.450721,1.931519,34.83,25.27535,25.026908,25.289965,25.450721,2697.429409,112904,1,PN N2
87,2022-05-19 00:00:00,24.968451,1.696429,34.17,24.493488,24.354652,24.829616,25.056137,2165.226242,80281,1,PN N2
88,2022-05-18 00:00:00,24.551945,-1.639344,33.6,24.975758,24.427724,24.698087,25.253429,2730.93915,95821,1,PN N2
89,2022-05-17 00:00:00,24.961144,-1.300202,34.16,25.574943,24.94653,25.107286,25.677242,3107.951524,116508,1,PN N2
90,2022-05-16 00:00:00,25.289965,0.992121,34.61,25.026908,24.851537,25.319193,25.487257,3184.4498,117572,1,PN N2

In [6]:
dados_petrobras = pd.read_excel("dados\Mundo8dados_petro.xlsx", skiprows=6)
dados_petrobras

,Data,Fech Ajustado,Variação(%),Fech Histórico,Abertura Ajustado,Mín Ajustado,Médio Ajustado,Máx Ajustado,Vol (MM R$),Negócios,Fator,Tipo
0,2022-09-13,nd,nd,nd,nd,nd,nd,nd,nd,nd,nd,nd
1,2022-09-12,31.58,-0.660585,31.58,32.15,31.46,31.92,32.73,2267.814565,78145,1,PN N2
2,2022-09-09,31.79,-0.031447,31.79,32.49,31.7,32.1,32.67,1588.898586,83834,1,PN N2
3,2022-09-08,31.8,-0.934579,31.8,32.31,31.4,31.98,32.78,2011.363072,100626,1,PN N2
4,2022-09-06,32.1,-3.690369,32.1,32.27,31.51,31.98,32.59,3555.963567,156979,1,PN N2
...,...,...,...,...,...,...,...,...,...,...,...,...
80,2022-05-20,25.450721,1.931519,34.83,25.27535,25.026908,25.289965,25.450721,2697.429409,112904,1,PN N2
81,2022-05-19,24.968451,1.696429,34.17,24.493488,24.354652,24.829616,25.056137,2165.226242,80281,1,PN N2
82,2022-05-18,24.551945,-1.639344,33.6,24.975758,24.427724,24.698087,25.253429,2730.93915,95821,1,PN N2
83,2022-05-17,24.961144,-1.300202,34.16,25.574943,24.94653,25.107286,25.677242,3107.951524,116508,1,PN N2
84,2022-05-16,25.289965,0.992121,34.61,25.026908,24.851537,25.319193,25.487257,3184.4498,117572,1,PN N2

In [7]:
dados_petrobras = pd.read_excel("dados\Mundo8dados_petro.xlsx", skiprows = 6, index_col = "Data")
dados_petrobras

,Fech Ajustado,Variação(%),Fech Histórico,Abertura Ajustado,Mín Ajustado,Médio Ajustado,Máx Ajustado,Vol (MM R$),Negócios,Fator,Tipo
Data,,,,,,,,,,,
2022-09-13,nd,nd,nd,nd,nd,nd,nd,nd,nd,nd,nd
2022-09-12,31.58,-0.660585,31.58,32.15,31.46,31.92,32.73,2267.814565,78145,1,PN N2
2022-09-09,31.79,-0.031447,31.79,32.49,31.7,32.1,32.67,1588.898586,83834,1,PN N2
2022-09-08,31.8,-0.934579,31.8,32.31,31.4,31.98,32.78,2011.363072,100626,1,PN N2
2022-09-06,32.1,-3.690369,32.1,32.27,31.51,31.98,32.59,3555.963567,156979,1,PN N2
...,...,...,...,...,...,...,...,...,...,...,...
2022-05-20,25.450721,1.931519,34.83,25.27535,25.026908,25.289965,25.450721,2697.429409,112904,1,PN N2
2022-05-19,24.968451,1.696429,34.17,24.493488,24.354652,24.829616,25.056137,2165.226242,80281,1,PN N2
2022-05-18,24.551945,-1.639344,33.6,24.975758,24.427724,24.698087,25.253429,2730.93915,95821,1,PN N2
2022-05-17,24.961144,-1.300202,34.16,25.574943,24.94653,25.107286,25.677242,3107.951524,116508,1,PN N2
2022-05-16,25.289965,0.992121,34.61,25.026908,24.851537,25.319193,25.487257,3184.4498,117572,1,PN N2

In [8]:
dados_petrobras.dropna()

,Fech Ajustado,Variação(%),Fech Histórico,Abertura Ajustado,Mín Ajustado,Médio Ajustado,Máx Ajustado,Vol (MM R$),Negócios,Fator,Tipo
Data,,,,,,,,,,,
2022-09-13,nd,nd,nd,nd,nd,nd,nd,nd,nd,nd,nd
2022-09-12,31.58,-0.660585,31.58,32.15,31.46,31.92,32.73,2267.814565,78145,1,PN N2
2022-09-09,31.79,-0.031447,31.79,32.49,31.7,32.1,32.67,1588.898586,83834,1,PN N2
2022-09-08,31.8,-0.934579,31.8,32.31,31.4,31.98,32.78,2011.363072,100626,1,PN N2
2022-09-06,32.1,-3.690369,32.1,32.27,31.51,31.98,32.59,3555.963567,156979,1,PN N2
...,...,...,...,...,...,...,...,...,...,...,...
2022-05-20,25.450721,1.931519,34.83,25.27535,25.026908,25.289965,25.450721,2697.429409,112904,1,PN N2
2022-05-19,24.968451,1.696429,34.17,24.493488,24.354652,24.829616,25.056137,2165.226242,80281,1,PN N2
2022-05-18,24.551945,-1.639344,33.6,24.975758,24.427724,24.698087,25.253429,2730.93915,95821,1,PN N2
2022-05-17,24.961144,-1.300202,34.16,25.574943,24.94653,25.107286,25.677242,3107.951524,116508,1,PN N2
2022-05-16,25.289965,0.992121,34.61,25.026908,24.851537,25.319193,25.487257,3184.4498,117572,1,PN N2

In [10]:
dados_petrobras = pd.read_excel("dados\Mundo8dados_petro.xlsx",skiprows=6, index_col = "Data", na_values="nd")

dados_petrobras

,Fech Ajustado,Variação(%),Fech Histórico,Abertura Ajustado,Mín Ajustado,Médio Ajustado,Máx Ajustado,Vol (MM R$),Negócios,Fator,Tipo
Data,,,,,,,,,,,
2022-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-12,31.580000,-0.660585,31.58,32.150000,31.460000,31.920000,32.730000,2267.814565,78145.0,1.0,PN N2
2022-09-09,31.790000,-0.031447,31.79,32.490000,31.700000,32.100000,32.670000,1588.898586,83834.0,1.0,PN N2
2022-09-08,31.800000,-0.934579,31.80,32.310000,31.400000,31.980000,32.780000,2011.363072,100626.0,1.0,PN N2
2022-09-06,32.100000,-3.690369,32.10,32.270000,31.510000,31.980000,32.590000,3555.963567,156979.0,1.0,PN N2
...,...,...,...,...,...,...,...,...,...,...,...
2022-05-20,25.450721,1.931519,34.83,25.275350,25.026908,25.289965,25.450721,2697.429409,112904.0,1.0,PN N2
2022-05-19,24.968451,1.696429,34.17,24.493488,24.354652,24.829616,25.056137,2165.226242,80281.0,1.0,PN N2
2022-05-18,24.551945,-1.639344,33.60,24.975758,24.427724,24.698087,25.253429,2730.939150,95821.0,1.0,PN N2
2022-05-17,24.961144,-1.300202,34.16,25.574943,24.946530,25.107286,25.677242,3107.951524,116508.0,1.0,PN N2
2022-05-16,25.289965,0.992121,34.61,25.026908,24.851537,25.319193,25.487257,3184.449800,117572.0,1.0,PN N2

In [11]:
dados_petrobras.dropna()

,Fech Ajustado,Variação(%),Fech Histórico,Abertura Ajustado,Mín Ajustado,Médio Ajustado,Máx Ajustado,Vol (MM R$),Negócios,Fator,Tipo
Data,,,,,,,,,,,
2022-09-12,31.580000,-0.660585,31.58,32.150000,31.460000,31.920000,32.730000,2267.814565,78145.0,1.0,PN N2
2022-09-09,31.790000,-0.031447,31.79,32.490000,31.700000,32.100000,32.670000,1588.898586,83834.0,1.0,PN N2
2022-09-08,31.800000,-0.934579,31.80,32.310000,31.400000,31.980000,32.780000,2011.363072,100626.0,1.0,PN N2
2022-09-06,32.100000,-3.690369,32.10,32.270000,31.510000,31.980000,32.590000,3555.963567,156979.0,1.0,PN N2
2022-09-05,33.330000,-0.269300,33.33,33.850000,33.150000,33.480000,34.110000,2536.813661,82467.0,1.0,PN N2
...,...,...,...,...,...,...,...,...,...,...,...
2022-05-20,25.450721,1.931519,34.83,25.275350,25.026908,25.289965,25.450721,2697.429409,112904.0,1.0,PN N2
2022-05-19,24.968451,1.696429,34.17,24.493488,24.354652,24.829616,25.056137,2165.226242,80281.0,1.0,PN N2
2022-05-18,24.551945,-1.639344,33.60,24.975758,24.427724,24.698087,25.253429,2730.939150,95821.0,1.0,PN N2
2022-05-17,24.961144,-1.300202,34.16,25.574943,24.946530,25.107286,25.677242,3107.951524,116508.0,1.0,PN N2
2022-05-16,25.289965,0.992121,34.61,25.026908,24.851537,25.319193,25.487257,3184.449800,117572.0,1.0,PN N2

In [14]:
dados_petrobras = pd.read_excel("dados\Mundo8dados_petro.xlsx", skiprows=6, index_col = 'Data', na_values = "nd", decimal=",")
dados_petrobras.dropna()

,Fech Ajustado,Variação(%),Fech Histórico,Abertura Ajustado,Mín Ajustado,Médio Ajustado,Máx Ajustado,Vol (MM R$),Negócios,Fator,Tipo
Data,,,,,,,,,,,
2022-09-12,31.580000,-0.660585,31.58,32.150000,31.460000,31.920000,32.730000,2267.814565,78145.0,1.0,PN N2
2022-09-09,31.790000,-0.031447,31.79,32.490000,31.700000,32.100000,32.670000,1588.898586,83834.0,1.0,PN N2
2022-09-08,31.800000,-0.934579,31.80,32.310000,31.400000,31.980000,32.780000,2011.363072,100626.0,1.0,PN N2
2022-09-06,32.100000,-3.690369,32.10,32.270000,31.510000,31.980000,32.590000,3555.963567,156979.0,1.0,PN N2
2022-09-05,33.330000,-0.269300,33.33,33.850000,33.150000,33.480000,34.110000,2536.813661,82467.0,1.0,PN N2
...,...,...,...,...,...,...,...,...,...,...,...
2022-05-20,25.450721,1.931519,34.83,25.275350,25.026908,25.289965,25.450721,2697.429409,112904.0,1.0,PN N2
2022-05-19,24.968451,1.696429,34.17,24.493488,24.354652,24.829616,25.056137,2165.226242,80281.0,1.0,PN N2
2022-05-18,24.551945,-1.639344,33.60,24.975758,24.427724,24.698087,25.253429,2730.939150,95821.0,1.0,PN N2
2022-05-17,24.961144,-1.300202,34.16,25.574943,24.946530,25.107286,25.677242,3107.951524,116508.0,1.0,PN N2
2022-05-16,25.289965,0.992121,34.61,25.026908,24.851537,25.319193,25.487257,3184.449800,117572.0,1.0,PN N2

In [15]:
dados_petrobras = pd.read_excel("dados\Mundo8dados_petro.xlsx", skiprows=6, index_col = 'Data', na_values='nd', decimal = ',', usecols = ['Data','Fech Ajustado', 'Vol (MM R$)'])
dados_petrobras.dropna()

            Fech Ajustado  Vol (MM R$)
Data
2022-09-12      31.580000  2267.814565
2022-09-09      31.790000  1588.898586
2022-09-08      31.800000  2011.363072
2022-09-06      32.100000  3555.963567
2022-09-05      33.330000  2536.813661
...                   ...          ...
2022-05-20      25.450721  2697.429409
2022-05-19      24.968451  2165.226242
2022-05-18      24.551945  2730.939150
2022-05-17      24.961144  3107.951524
2022-05-16      25.289965  3184.449800

[84 rows x 2 columns]

In [16]:
# Como transformar dados para excel

dados_petrobras.to_excel('dados\Mundo8teste_petro.xlsx')

# Exercícios

- Exercício 57: Leia a planilha disponibilizada na pasta dados 'Mundo8excercicio_receita_petro.xlsx', que contém a receita da Petrobras desde 2008. Mantenha apenas as colunas "Receita Liquída" e "Convenção". Transforme a coluna de Data em índice.

In [22]:
df = pd.read_excel("dados\Mundo8exercicio_receita_petro.xlsx", skiprows=4, index_col = 'Data', usecols = ['Data','Receita Líquida 12 meses Consolidado Milhões', 'Convenção'] )
df

            Receita Líquida 12 meses Consolidado Milhões   Convenção
Data
2022-06-30                                    568385.000        IFRS
2022-03-31                                    508135.000        IFRS
2021-12-31                                    452668.000        IFRS
2021-09-30                                    393450.000        IFRS
2021-06-30                                    342586.000        IFRS
2021-03-31                                    282774.000        IFRS
2020-12-31                                    272069.000        IFRS
2020-09-30                                    269725.000        IFRS
2020-06-30                                    276046.000        IFRS
2020-03-31                                    297715.000        IFRS
2019-12-31                                    302245.000        IFRS
2019-09-30                                    322337.000        IFRS
2019-06-30                                    343546.000        IFRS
2019-03-31                                    355374.000        IFRS
2018-12-31                                    349836.000        IFRS
2018-09-30                                    333628.000        IFRS
2018-06-30                                    307190.000        IFRS
2018-03-31                                    289791.000        IFRS
2017-12-31                                    283695.000        IFRS
2017-09-30                                    277672.000        IFRS
2017-06-30                                    276293.000        IFRS
2017-03-31                                    280617.000        IFRS
2016-12-31                                    282589.000        IFRS
2016-09-30                                    297203.000        IFRS
2016-06-30                                    308999.000        IFRS
2016-03-31                                    317622.000        IFRS
2015-12-31                                    321638.000        IFRS
2015-09-30                                    321575.195        IFRS
2015-06-30                                    327713.195        IFRS
2015-03-31                                    330068.195        IFRS
2014-12-31                                    337260.000        IFRS
2014-09-30                                    333247.824        IFRS
2014-06-30                                    322571.142        IFRS
2014-03-31                                    313899.392        IFRS
2013-12-31                                    304889.934        IFRS
2013-09-30                                    297267.163        IFRS
2013-06-30                                    293359.778        IFRS
2013-03-31                                    287780.798        IFRS
2012-12-31                                    281379.482        IFRS
2012-09-30                                    271702.111        IFRS
2012-06-30                                    262088.198        IFRS
2012-03-31                                    255509.674        IFRS
2011-12-31                                    244176.142        IFRS
2011-09-30                                    234939.442       MIXED
2011-06-30                                    225499.465       MIXED
2011-03-31                                    217662.098       MIXED
2010-12-31                                    213273.669        IFRS
2010-09-30                                    206415.363  SOCIETARIO
2010-06-30                                    199553.939  SOCIETARIO
2010-03-31                                    190526.555  SOCIETARIO
2009-12-31                                    182710.057  SOCIETARIO
2009-09-30                                    181274.362  SOCIETARIO
2009-06-30                                    200856.311  SOCIETARIO
2009-03-31                                    210821.978  SOCIETARIO
2008-12-31                                    215118.536  SOCIETARIO
2008-09-30                                    214338.336  SOCIETARIO