In [1]:
import pandas as pd

In [2]:
df_cambio = pd.DataFrame({
    'moeda': ['dolar/real', 'libra/real'] * 4,
    'price': [5.24, 4.15, 5.26, 4.23, 5.55, 4.02, 5.76, 3.98],
    'derivativo': list(['DOLFT3', 'LIBFT3']) * 4},
    index = sorted(list(pd.date_range('1/5/2014', periods = 4)) * 2))

df_cambio

                 moeda  price derivativo
2014-01-05  dolar/real   5.24     DOLFT3
2014-01-05  libra/real   4.15     LIBFT3
2014-01-06  dolar/real   5.26     DOLFT3
2014-01-06  libra/real   4.23     LIBFT3
2014-01-07  dolar/real   5.55     DOLFT3
2014-01-07  libra/real   4.02     LIBFT3
2014-01-08  dolar/real   5.76     DOLFT3
2014-01-08  libra/real   3.98     LIBFT3

In [10]:
# ferramentas loc, iloc, at, iat

#loc serve para localizar através de nomes

#um único dia
print(df_cambio.loc['2014-01-05'])

#algum período
print(df_cambio.loc['2014-01-05':'2014-01-07'])


#um período sobre a informação preço
print(df_cambio.loc['2014-01-04':'2014-01-07','price'])

#um dia sobre a informação preço
print(df_cambio.loc['2014-01-05', 'price'])

#um dia sobre a informação preço e moeda
print(df_cambio.loc['2014-01-05', 'moeda':'price'])

#todos os dados da infromação preço
print(df_cambio.loc[:,'price'])

                 moeda  price derivativo
2014-01-05  dolar/real   5.24     DOLFT3
2014-01-05  libra/real   4.15     LIBFT3
                 moeda  price derivativo
2014-01-05  dolar/real   5.24     DOLFT3
2014-01-05  libra/real   4.15     LIBFT3
2014-01-06  dolar/real   5.26     DOLFT3
2014-01-06  libra/real   4.23     LIBFT3
2014-01-07  dolar/real   5.55     DOLFT3
2014-01-07  libra/real   4.02     LIBFT3
2014-01-05    5.24
2014-01-05    4.15
2014-01-06    5.26
2014-01-06    4.23
2014-01-07    5.55
2014-01-07    4.02
Name: price, dtype: float64
2014-01-05    5.24
2014-01-05    4.15
Name: price, dtype: float64
                 moeda  price
2014-01-05  dolar/real   5.24
2014-01-05  libra/real   4.15
2014-01-05    5.24
2014-01-05    4.15
2014-01-06    5.26
2014-01-06    4.23
2014-01-07    5.55
2014-01-07    4.02
2014-01-08    5.76
2014-01-08    3.98
Name: price, dtype: float64

In [11]:
#at é igual ao loc, só que serva para localizar um único item + otimizado

#df_cambio.at['2014-01-05'] # -> Retorna erro
df_cambio.at['2014-01-05', 'price'] # Mais otimizado que loc para pegar uma linha e uma coluna

2014-01-05    5.24
2014-01-05    4.15
Name: price, dtype: float64

In [18]:
#iloc serve para selecionar itens através de índices numéricos.
# Parecido com as listas, mas é preciso usar iloc antes.

#primeira linha
print(df_cambio.iloc[0,:])

#tres primeiras linhas
print(df_cambio.iloc[0:3,:])

#primeira coluna
print(df_cambio.iloc[:,0])

#primeiro preço do cambio
print(df_cambio.iloc[0,1])

#primeiro preço do cambio com iat
print(df_cambio.iat[0,1])

#ultima linha
print(df_cambio.iloc[-1,:])

moeda         dolar/real
price               5.24
derivativo        DOLFT3
Name: 2014-01-05 00:00:00, dtype: object
                 moeda  price derivativo
2014-01-05  dolar/real   5.24     DOLFT3
2014-01-05  libra/real   4.15     LIBFT3
2014-01-06  dolar/real   5.26     DOLFT3
2014-01-05    dolar/real
2014-01-05    libra/real
2014-01-06    dolar/real
2014-01-06    libra/real
2014-01-07    dolar/real
2014-01-07    libra/real
2014-01-08    dolar/real
2014-01-08    libra/real
Name: moeda, dtype: object
5.24
5.24
moeda         libra/real
price               3.98
derivativo        LIBFT3
Name: 2014-01-08 00:00:00, dtype: object

In [22]:
# Substituir dados com loc

#se um ativo mudar o código de negociação?
df_cambio.loc[df_cambio['derivativo'] == 'DOLFT3', 'derivativo'] = 'DOLFT4'

df_cambio.loc[df_cambio['derivativo'] == 'DOLFT4'] = 'Zona' #Muda tudo onde tinha DOLFT4 na linha para zona

df_cambio

                 moeda price derivativo
2014-01-05        Zona  Zona       Zona
2014-01-05  libra/real  4.15     LIBFT3
2014-01-06        Zona  Zona       Zona
2014-01-06  libra/real  4.23     LIBFT3
2014-01-07        Zona  Zona       Zona
2014-01-07  libra/real  4.02     LIBFT3
2014-01-08        Zona  Zona       Zona
2014-01-08  libra/real  3.98     LIBFT3

# Exercícios
A partir do DataFrame desenvolvido no exercício 40:
- Exercício 47: Selecione a primeira linha inteira e a primeira coluna inteira com loc.
- Exercício 48: Selecione o preço da Weg com iat e com at.
- Exercício 49: Selecione as duas primeiras linhas e todas as colunas com iloc.

In [32]:
#df_base
dados_cotacoes = {
    'tickers': ["WEGE3", "PETR3", "VALE3", "PETR4","LREN3"],
    'cotacoes': [20, 30, 40, 12, 35],
    'nomes': ["Weg", "Petrobras", "Vale", "Petrobras", "Lojas Renner"],
    'preco_sobre_lucro': [25,6,12,7,25],
    'volume': [5000, 1000, 4000,7000,1200]
}

df = pd.DataFrame(dados_cotacoes, index = [0,1,2,3,4],
                 columns = ['nomes','tickers','cotacoes','preco_sobre_lucro','volume'])

df = df.set_index('tickers')
df.columns = ['nomes', 'precos', 'preco_sobre_lucro', 'volume']
df

                nomes  precos  preco_sobre_lucro  volume
tickers
WEGE3             Weg      20                 25    5000
PETR3       Petrobras      30                  6    1000
VALE3            Vale      40                 12    4000
PETR4       Petrobras      12                  7    7000
LREN3    Lojas Renner      35                 25    1200

In [34]:
# Exercício 47

df_primeira_linha = df.loc['WEGE3']
display(df_primeira_linha)

df_primeira_coluna = df.loc[:,'nomes']
display(df_primeira_coluna)

nomes                 Weg
precos                 20
preco_sobre_lucro      25
volume               5000
Name: WEGE3, dtype: object

tickers
WEGE3             Weg
PETR3       Petrobras
VALE3            Vale
PETR4       Petrobras
LREN3    Lojas Renner
Name: nomes, dtype: object

In [27]:
# Exercício 48

print(df.at['WEGE3','precos'])
print(df.iat[0,1])

20
20

In [30]:
# Exercício 49
duas_primeiras_linhas = df.iloc[0:2]
print(duas_primeiras_linhas)

             nomes  precos  preco_sobre_lucro  volume
tickers
WEGE3          Weg      20                 25    5000
PETR3    Petrobras      30                  6    1000